POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=guard
POSTGRES_USER=guard
POSTGRES_PASSWORD=guardpw
OPA_URL=http://opa:8181/v1/data
KAFKA_BROKERS=broker:29092
AIRTABLE_BASE_ID=app_xxx
AIRTABLE_API_KEY=key_xxx
